
@{
    ViewData["Title"] = "GetExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SinavOlusturma.WebUI.Models.ViewModel


<table>
    <thead>
        <tr>
            <th>Sınav Başlığı</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Exam</td>
        </tr>
       

    </tbody>
</table>

